@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.main {
  padding: 0 calc(50% - 590px);
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  display: grid;
  grid-template-areas:
    'forecast map'
    'week week';
  grid-template-columns: 2fr 2fr;
}

.map {
  grid-area: map;
  margin-left: 12px;
  margin-top: 14px;
}

@media (min-width: 1400px) {
  .main {
    padding: 0 calc(50% - 700px);
    padding-top: 60px;
  }
}

@media (max-width: 950px) {
  .main {
    grid-template-areas:
      'forecast'
      'map'
      'week';
    grid-template-columns: 1fr;
  }
}
