@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #e3f2fd;
  height: 60px;
  font-size: 2rem;
  font-family: 'Patrick Hand', cursive;
  padding: 0 calc(50% - 590px);
  padding-left: 14px;

  &-logo {
    display: flex;
    align-items: center;

    img,
    h1 {
      cursor: pointer;
    }

    h1 {
      margin-left: 24px;
      line-height: 0;
    }
  }

  &-search {
    margin-left: 24px;
  }
}
